<div class="col-sm-9 col-md-9">
  <div class="well">
      <div>
           <div class="panel panel-default">
               <div class="panel-heading que">Real Time Analytics</div>
               <div class="panel-body">A module to visualize data from various business and healthcare perspective where a provider or a supplier can see and make some great reports to check how their patients, services or devices can be made better for the overall wellness.</div>
          </div>

          <div class="panel panel-default" id="rpi">
              <div class="panel-heading que">RaspberryPi</div>
              <div class="panel-body">
It is now one of the most popular technology items in the world.
It can function as a proper desktop computer or be used to build smart devices.</div>
         </div>

          <div class="panel panel-default" id="apigateway">
                 <div class="panel-heading que">API Gateway</div>
                 <div class="panel-body">A gateway to connect with Cockpit to transfer data between facilitator and provider databases to Cockpit Consoles for data management, provider management, report generation and various monitoring use cases. APIGateway will communicate with IOTGateway via Kafka to receive data from various devices.</div>
          </div>
          <div class="panel panel-default" id="welliemobileapp">
               <div class="panel-heading que">Wellie</div>
               <div class="panel-body">
                    <p><span><b>Technology stack</b></span></p>

                        <p>Wellie is created using some of the latest and buzzing technologies like:</p>

                        <ul>
                            <li>Android – this needs no introduction!</li>
                            <li>Android speech recognizer – This gives Wellie a capability to understand what you say</li>
                            <li>Android text to speech – Wellie uses this to convert all its actions to speech so that you don’t have to leave your work and read everything. You can just listen to it</li>
                            <li>API.AI – a human-computer interaction technology that bridges the gap between you and your own home assistant</li>
                            <li>Sprint Boot – a strong server side framework to empower Wellie with speed and security for your real-time and personal environment</li>
                        </ul>

                    </div>
          </div>          
          <div class="panel panel-default" id="Cockpit">
                <div class="panel-heading que">Cockpit</div>
                <div class="panel-body">A complete web based solution for Welloculus facilitators, healthcare providers and device suppliers where each user can perform various operations based upon their roles and manage their association with Welloculus effectively to make the most use of it. </div>
          </div>
          <div class="panel panel-default" id="iotgateway">
               <div class="panel-heading que">IOT Gateway</div>
               <div class="panel-body">A gateway to connect with multiple health monitoring devices via Raspberry Pi or mobile application. The gateway will receive data from various devices and channels and transfer it to relevant endpoint for further action.</div>
          </div>
          <div class="panel panel-default" id="mobileapp">
               <div class="panel-heading que">Mobile App</div>
               <div class="panel-body">Welloculus works like a medical assistant, a care taker and a well-wisher for its Mobile Application users by keeping a keen eye on their health statistics, constantly monitoring the fluctuations from normal behavior and providing medical aid in an emergency situation. See how it helped Mr. Joy on time and prevented the situation from becoming worse and panicking for him and his family. </div>
          </div>

          <div class="panel panel-default" id="docker">
               <div class="panel-heading que">Docker</div>
               <div class="panel-body">Docker streamlines software delivery. Develop and deploy bug fixes and new features without roadblocks. Scale applications in real time.

Docker is the secret weapon of developers and IT ops teams everywhere, allowing them to build, ship, test, and deploy apps automatically, securely, and portably with no surprises.</div>
          </div>

     </div>
  </div>
</div>
