<div class="col-sm-9 col-md-9">
  <div class="well">
      <div>
           <div class="panel panel-default">
               <div class="panel-heading que">Technology Stack List</div>
               <div class="panel-body">Coming Soon...</div>
          </div>

          <div class="panel panel-default" id="rpi">
              <div class="panel-heading que">RaspberryPi</div>
              <div class="panel-body">Coming Soon...</div>
         </div>

          <div class="panel panel-default" id="tempsensr">
                 <div class="panel-heading que">Temperature Sensor</div>
                 <div class="panel-body">Coming Soon...</div>
          </div>
          <div class="panel panel-default" id="zephyr">
                <div class="panel-heading que">Zephyr Device</div>
                <div class="panel-body">Coming Soon...</div>
          </div>
          <div class="panel panel-default" id="iotgateway">
               <div class="panel-heading que">IOT Gateway</div>
               <div class="panel-body">Coming Soon...</div>
          </div>
          <div class="panel panel-default" id="kebana">
               <div class="panel-heading que">Kebana</div>
               <div class="panel-body">Coming Soon...</div>
          </div>

          <div class="panel panel-default" id="spark">
            <div class="panel-heading que">Spark</div>
            <div class="panel-body">Coming Soon...</div>
          </div>

          <div class="panel panel-default" id="kafka">
            <div class="panel-heading que">Kafka</div>
            <div class="panel-body">Coming Soon...</div>
          </div>

          <div class="panel panel-default" id="mongodb">
            <div class="panel-heading que">MongoDB</div>
            <div class="panel-body">Coming Soon...</div>
          </div>

          <div class="panel panel-default" id="nodejs">
            <div class="panel-heading que">NodeJs</div>
            <div class="panel-body">Coming Soon...</div>
          </div>

          <div class="panel panel-default" id="javaspring">
            <div class="panel-heading que">Java Spring</div>
            <div class="panel-body">Coming Soon...</div>
          </div>

     </div>
  </div>
</div>
