<div class="col-sm-9 col-md-9">
  <div class="well">
      <div>
           <div class="panel panel-default mrgnbtm">
               <div class="panel-heading que">HIPAA Checklists</div>
               <div class="panel-body">
                    Under Welloculus, we have gone through HIPAA compliance and identified following checklists that is a collection of checks to be followed by all kind of entities associated with a healthcare project. HIPAA or Health Insurance Portability and Accountability Act provides checklists under three main categories that should be kept in account while working on a healthcare project.
                    <br><br>

                    These categories are:
                    <ol>
                         <li>Security</li>
                         <li>Privacy</li>
                         <li>Breach</li>
                    </ol>
                    <br><br>
                    There are certain safeguards under each one these categories. Checkpoints falling under these categories and their underlying safeguards are mentioned below:
                    <br><br>
                    <!--<h3><span class="badge btn btn-danger">Security Checklist</span></h3>-->
                    <div class="panel panel-default">
                         <div class="panel-heading que parent-header">Security Checklist</div>
                         <div class="panel-body scpb">
                              <div class="sclist">
                                   <h4><span class="badge">Administrative Safeguards</span></h4>
                                   <ol class="sublist">
                                        <li><font>Security Management Process:</font> Policies and Procedures to prevent, detect, contain, and correct security violations</li>
                                        <li><font>Risk Analysis:</font> Conduct a risk analysis of e-PHI systems to identify threats, vulnerabilities, impact of risk, likelihood of occurrence and existing risk mitigation controls</li>
                                        <li><font>Risk Management:</font> Policies and Procedures to reduce risks and vulnerabilities to an appropriate level by prioritizing and implementing risk management controls</li>
                                        <li><font>Assigned Security Responsibility:</font> Designate a Security Officer to develop and implement policies and procedures</li>
                                        <li><font>Workforce Security – Appropriate Access:</font> Policies and Procedures to govern initial and ongoing access to PHI; reviews of access for continued appropriateness</li>
                                        <li><font>Workforce Security – Terminating Access:</font> Policies and Procedures to terminate employee access to PHI</li>
                                        <li><font>Workforce Security – Security Awareness Training:</font> Training all employees on security awareness upon hire and continually</li>
                                        <li><font>Incident Response Procedures:</font> Designate appropriate individuals and procedures for security incidents, including response, mitigation, documentation and corrective actions</li>
                                        <li><font>Network Security – Malicious Software Protection:</font> Policies and Procedures to protect against, identify and report malicious software</li>
                                        <li><font>Business Continuity:</font> Policies, Procedures and Training to address interruptions to business activity</li>
                                        <li><font>Business Associate Contracts:</font> Agreements with Business Associates to ensure proper identification of PHI controls</li>
                                   </ol>
                              </div>

                              <div class="sclist">
                                   <h4><span class="badge">Physical Safeguards</span></h4>
                                   <ol class="sublist">
                                        <li><font>Facility Access Controls:</font> Policies and Procedures to grant, monitor and terminate access to physical facilities</li>
                                        <li><font>Facility – Emergency Planning:</font> Policies and Procedures to restore data in the event of emergency</li>
                                        <li><font>Facility Procedures – Unauthorized Access:</font> Policies and Procedures for identifying and responding to unauthorized access to physical facilities</li>
                                        <li><font>Maintenance and Modification of Facility:</font> Policies and Procedures to monitor and document repairs and changes to physical physicality that impact security</li>
                                        <li><font>Workstation Security:</font> Policies and Procedures to control access to, changes to and use of employee workstations</li>
                                        <li><font>Device and Media Controls:</font> Policies and Procedures to address use of, storage, transmission, reuse, tracking and destruction of removable media that store ePHI</li>
                                   </ol>
                              </div>

                              <div class="sclist">
                                   <h4><span class="badge">Technical Safeguards</span></h4>
                                   <ol class="sublist">
                                        <li><font>Unique Name for User Identity:</font> Policies and Procedures to assign unique identifiers for access to PHI to track usage</li>
                                        <li><font>Computer Session Inactivity:</font> Policies and Procedures to terminate electronic sessions based on a predetermined time of inactivity</li>
                                        <li><font>Transmission of ePHI:</font> Policies, Procedures, audit controls, hardware and software to encrypt, monitor and record the transmission of ePHI</li>
                                   </ol>
                              </div>

                         </div>
                    </div>


                    <div class="panel panel-default">
                         <div class="panel-heading que parent-header">Privacy Checklist</div>
                         <div class="panel-body scpb">
                              <div class="sclist">
                                   <ol class="sublist">
                                        <li><font>PHI Uses and Disclosures for Treatment, Payment, or Operations:</font> Patient authorization for the disclosure of PHI for treatment, payment and healthcare operations is implied</li>
                                        <li><font>PHI Uses and Disclosures that Require Authorization:</font> Patient authorization is required to disclose psychotherapy notes, PHI for marketing, the sale of PHI; elements of valid authorization</li>
                                        <li><font>PHI Uses and Disclosures Requiring Notice and Opportunity to Object:</font> Certain disclosures require prior patient notice and opportunity to object: disclosures to family, facility directories, emergencies, and others</li>
                                        <li><font>PHI Uses and Disclosures without authorization:</font> Certain disclosures do not require prior patient notice: court orders, law enforcement investigations, public health activities and others</li>
                                        <li><font>PHI Uses and Disclosures- Fund Raising:</font> Disclosure of patient PHI for fund raising purposes requires authorization in most cases</li>
                                        <li><font>PHI Uses and Disclosures- Research:</font> Disclosure of patient PHI for research purposes requires authorization in most cases</li>
                                        <li><font>PHI Uses and Disclosures- Personal Representatives and Family:</font> Disclosure of patient PHI to patient family members/representatives is generally permitted, with exceptions</li>
                                        <li><font>PHI Uses and Disclosures- After Death:</font> Patient privacy rights to PHI disclosure continue 50 years after death</li>
                                        <li><font>PHI Uses and Disclosures- Identity Verification:</font> Prior to PHI disclosure, entities must verify the identify and authority of the requesting party</li>
                                        <li><font>PHI Uses and Disclosures- De-identification:</font> Privacy Rule restrictions related to PHI disclosures do not apply to de-identified information</li>
                                        <li><font>PHI Uses and Disclosures- Safeguards for PHI Communication:</font> Entities should ensure that channels of communication are appropriate for transmission of PHI</li>
                                        <li><font>PHI Uses and Disclosures- Minimum Necessary Standard:</font> PHI disclosures and requests should be limited to the minimum PHI necessary for the treatment, payment, or operational requirement</li>
                                        <li><font>Minimum Necessary Standard- Workforce Access:</font> Employee access should be restricted to the minimum necessary, defined by entity policies</li>
                                        <li><font>Minimum Necessary Standard- Routine Disclosures:</font> Entities should define the standard of “minimum necessary” for routine disclosures of PHI</li>
                                        <li><font>Minimum Necessary Standard- Non-Routine Disclosures:</font> Entities should establish criteria for individual disclosures and review of such disclosures</li>
                                        <li><font>Patient Rights- Disclosure Restrictions:</font> Patients may request certain restrictions on PHI disclosure and use; entity agreement to restrictions is not comprehensive</li>
                                        <li><font>Patient Rights- Alternative Communication:</font> Patients may request alternative locations and means communication</li>
                                        <li><font>Patient Rights- Access to PHI:</font> Patients may inspect and request copies of PHI</li>
                                        <li><font>Patient Rights- PHI Amendments:</font> Patients may request amendments of health records</li>
                                        <li><font>Patient Rights- Accounting of Disclosures:</font> Patients may request an account of disclosures of PHI made by the entity</li>
                                        <li><font>Notice of Privacy Practices- Availability:</font> Covered entities must provide the Notice to patients, in physical locations and on websites</li>
                                        <li><font>Notice of Privacy Practices- Acknowledgment:</font> Covered entities must make good faith efforts to obtain patient acknowledgement of the Notice</li>
                                        <li><font>Business Associates:</font> Covered entities may disclose PHI to business associates if the business associate provides safeguards PHI (contracts, monitoring, enforcement)</li>
                                        <li><font>Privacy Officer:</font> Covered entities must designate a privacy officer to develop and implement policies and procedures</li>
                                        <li><font>Contact Officer:</font> Covered entities must designate a contact person to receive complaints and provide information regarding the Notice of Privacy Practices</li>
                                        <li><font>Employee Training:</font> Covered entities must provide adequate training to employees on Privacy Rule policies and procedures</li>
                                        <li><font>Complaints:</font> Covered entities must provide opportunities for and responses to complaints; complaints and resolution must be documented</li>
                                        <li><font>Mitigation of Improper Disclosures:</font> Entities must take steps to mitigate the effects of improper PHI disclosure</li>
                                        <li><font>Sanctions:</font> Covered entities must sanction employees for violations of Privacy policies and procedures</li>
                                        <li><font>Record Retention:</font> Documents must be retained according to the period of retention required by law</li>
                                        <li><font>Non-retaliation:</font> Entities must refrain from retaliating patients who exercise HIPAA rights</li>
                                        <li><font>Non-waiver:</font> Entities may not condition treatment of patients upon the patient’s waiver of HIPAA rights</li>
                                        <li><font>Corrective Actions:</font> Entities must correct violations within 30 days of occurrence</li>
                                   </ol>
                              </div>


                         </div>
                    </div>


                    <div class="panel panel-default">
                         <div class="panel-heading que parent-header">Breach Checklist</div>
                         <div class="panel-body scpb">
                              <div class="sclist">
                                   <ol class="sublist">
                                        <li><font>Identifying Breach:</font> Covered Entities and Business Associates must identify whether an unauthorized PHI disclosure has occurred; certain exceptions apply</li>
                                        <li><font>Patient Notice:</font> Covered Entities and Business Associates must notify patients of an unauthorized PHI disclosure in the required time frame, with the required content, and by the required method(s)</li>
                                        <li><font>HHS Notice:</font> Covered Entities and Business Associates must notify HHS of unauthorized PHI disclosures within the required time frame (greater or less than 500 patients impacted)</li>
                                        <li><font>Media Notice:</font> Covered Entities and Business Associates must notify the media of unauthorized PHI disclosures within the required time frame if more than 500 patients have been affected</li>
                                        <li><font>Business Associate Notice:</font> Covered Entities must notify Business Associates of unauthorized PHI disclosures within the required time frame</li>
                                        <li><font>Law Enforcement Delays:</font> Covered Entities and Business Associates may delay notification to required parties of unauthorized PHI disclosure if law enforcement states that notification would impede a criminal investigation or damage national security; time frame of delay based on written and oral requests by law enforcement</li>
                                        <li><font>Investigation:</font> Covered Entities and Business Associates must investigate unauthorized disclosures</li>
                                        <li><font>Mitigation:</font> Covered Entities and Business Associates limit the damaging effects of unauthorized disclosures</li>
                                        <li><font>Contact Person:</font> Covered Entities and Business Associates must designate an individual for patients, media, business associates and HHS to contact regarding unauthorized disclosures</li>
                                   </ol>
                              </div>


                         </div>
                    </div>



               </div>
          </div>


 </div>
  </div>
</div>
