<div class="col-sm-9 col-md-9">
  <div class="well">
      <div>
           <div class="panel panel-default">
               <div class="panel-heading que">What is Welloculus?</div>
               <div class="panel-body">Welloculus is a complete health monitoring solution that is useful for both patients and their healthcare providers in connecting various health monitors to single platform and view the health statistics of one self or many patients at same time. Various actions are connected with this monitoring like emergency notifications and statistical analysis of overall health of all patients connected to a healthcare provider.</div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading que">What does it mean?</div>
              <div class="panel-body">A combination of two words, Well and Oculus, which means to keep an eye on the wellness of those associated to it, Welloculus is designed to serve multiple entities associated to healthcare over single platform.</div>
         </div>

         <div class="panel panel-default">
            <div class="panel-heading que">What can it do for you?</div>
            <div class="panel-body">All health conscious people, if you are using health monitoring gadgets but are tired of constant peeking into the device or your mobile, all you need is Welloculus app and you won’t even need to take your reports to your doctor from next time! Welloculus will keep an eye on you with the help of your monitoring devices and notify you, your emergency contacts and even your doctor in case of a risk. So even if you do not realize the health criticality or are not in a situation to run for help, Welloculus will be there to run for help for you!</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading que">About Welloculus</div>
            <div class="panel-body">Welloculus is designed to care about the health of its users not only in a day-to-day life, but also when they need it the most, that is in emergency situations. We are involved in complete lifecycle of healthcare monitoring from keeping an eye on the vital statistics of patients to analysis and reporting for the betterment of society on larger picture. As our name indicates, we proctor the well-being of every individual who is linked to us via their mobile and health monitoring devices.
Welloculus is originated by Transility, an ‘end-to-end’ product development and IT solution providing concern, engaging on development, integration and implementation of Software for Healthcare. Transility has been working with some of the leading healthcare companies, offering its technology expertise and experience. For more information, visit http://transility.com/
          </div>
       </div>

       <div class="panel panel-default">
          <div class="panel-heading que">Welloculus for patients</div>
          <div class="panel-body">Welloculus works like a medical assistant, a care taker and a well-wisher for its Mobile Application users by keeping a keen eye on their health statistics, constantly monitoring the fluctuations from normal behavior and providing medical aid in an emergency situation. See how it helped Mr. Joy on time and prevented the situation from becoming worse and panicking for him and his family.</div>
      </div>

      <div class="panel panel-default">
         <div class="panel-heading que">Welloculus for patients</div>
         <div class="panel-body">Welloculus works like a medical assistant, a care taker and a well-wisher for its Mobile Application users by keeping a keen eye on their health statistics, constantly monitoring the fluctuations from normal behavior and providing medical aid in an emergency situation. See how it helped Mr. Joy on time and prevented the situation from becoming worse and panicking for him and his family.</div>
     </div>

     <div class="panel panel-default">
        <div class="panel-heading que">Welloculus for providers</div>
        <div class="panel-body">Welloculus works more like a business partner for healthcare providers than merely a monitoring tool. Providers can work for the betterment of the society as well as their future planning. See how Welloculus notifies providers immediately when their patients need attention and also provides reports based on various statistics to study collective behavior and improve healthcare services.</div>
    </div>

    <div class="panel panel-default">
       <div class="panel-heading que">Welloculus for caretakers</div>
       <div class="panel-body">We know how tough it is to take care of home and work at the same time, especially when there is someone at home who needs a helping hand and a constant watch. We at Welloculus understand this and assist you in monitoring the medical condition of someone you care about. If you are too busy to keep a constant eye on your mobile, Welloculus will give you notifications in case of emergency. And that’s not all, it will also send alerts to the registered healthcare provider, so that needed help would reach on time to your loved ones even before you take an action</div>
   </div>

     <div class="panel panel-default">
          <div class="panel-heading que">Welloculus for suppliers</div>
          <div class="panel-body">...</div>
     </div>

     <div class="panel panel-default">
          <div class="panel-heading que">Welloculus for facilitator</div>
          <div class="panel-body">...</div>
     </div>
 </div>
  </div>
</div>
